<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href = "../static/style/base.css">
    {% block head %}
    {% endblock %}
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-messages/1.8.3/angular-messages.min.js" integrity="sha512-a+xgEyXVK7r+KKIDYyHtFfLi9LItmFDff6Z4/5lrGmL03u1vtFCjQXQz3dSIwOapB3YIRMBO1+IQj6ptnxAh/A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
    <header>
        <img src="../static/img/coche.png" alt="logo" width="50px" height="50px">
        <a href="/"><i>
                <h1>Drive-Test!</h1>
            </i></a>
    </header>
    {% block body %}
    {% endblock %}
    <footer>
        <p>
            <b>Hecho por:</b><br>
            <i>Mariana de Jesus Arellano</i><br>
            <i>Erick Ivan Toledo Galeana</i>
        </p>
    </footer>
</body>
</html>