{% extends 'base.html' %}

{% block title %}
Test-Driver
{% endblock %}

{% block head %}
<link rel="stylesheet" href = "../static/style/index.css">
{% endblock %}

{% block body %}
<div name="descripcion">
    <i><h1>Bienvenido a la mejor pagina de simulación de test de Manejo!!</h1></i>
    <p>¡Practica para tu examen de manejo de forma segura y conveniente con nuestra 
        plataforma en línea de simulación de pruebas!</br> Nuestra página web ofrece una 
        experiencia interactiva y realista, donde puedes enfrentarte a preguntas de 
        opción múltiple similares a las que encontrarás en el examen oficial de manejo. 
        Desde señales de tráfico hasta normativas de seguridad vial, nuestras simulaciones 
        cubren una amplia gama de temas para ayudarte a prepararte de manera completa. 
        Además, nuestra plataforma te ofrece retroalimentación inmediata para que puedas 
        aprender de tus errores y mejorar tu conocimiento. ¡Practica con nosotros y aumenta 
        tu confianza para aprobar tu examen de manejo con éxito!</p>
</div>

<div name="lista">
    <b><h3>Contenido:</h3></b>
    <ol>
        <li><a href="/registroAlumnos">Registrarse como Alumno</a></li>
        <li><a href="/alumnos">Alumnos</a></li>
        <li><a href="/presentarExamenPrueba">Presentar Prueba del Examen de Manejo</a></li>
        <li><a href="/presentarExamen">Presentar Examen de Manejo</a></li>
        <!-- <li><a href="">Ver Ultimo Examen</a></li> -->
        <li><a href="/historial">Historial Alumnos</a></li>
    </ol>
</div>
{% endblock %}