<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href = "../static/style/resultado.css">
</head>


{% extends 'base.html' %}

{% block title %}
 Resultados
{% endblock %}

{% block body %}
<div>
    <h1>Resultados del Examen</h1>
    <img src={{resultados.imagen}} alt="imagenResultado">
    <h3>{{ resultados.mensaje }}</h3>
</div>
{% endblock %}