
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; 
    padding: 10px;
}

h1 {
    color: #333;
}

p {
    color: #555;
}


form {
    margin-bottom: 1s0px;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: flexbox;
    margin-bottom: 5px;
    color: #333;
}

input[type="radio"] {
    margin-right: 5px;
}

#submitBtn {
    padding: 10px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#submitBtn:hover {
    background-color: #0056b3;
}


#timer {
    margin-top: 20px;
}

#countdown {
    font-size: 24px;
    color: #007bff;
}
